node_modules
/dist
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
.DS_Store
/docs-dist
tsconfig.tsbuildinfo
coverage/**
.idea/.gitignore
.idea/md-editor.iml
.idea/modules.xml
.idea/prettier.xml
.idea/vcs.xml
.idea/inspectionProfiles/Project_Default.xml
